.password,
.passwordIcon {
  height: 16px;
  position: relative;
}
.password {
  width: 58px;
  border: 0;
  outline: 0;
  font-family: var(--text-sm-bold);
  font-size: var(--font-size-xs);
  background-color: transparent;
  line-height: 16px;
  color: var(--grey1);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.passwordIcon {
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.agreeButton {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-lighter);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-smi) var(--padding-xs)
    var(--padding-2xs);
  gap: var(--gap-xl);
}
.groupContainer,
.groupContainer1,
.groupContainer2 {
  height: 4px;
  width: 60px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 2px);
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--grey-white);
}
.groupContainer1,
.groupContainer2 {
  left: 62px;
}
.groupContainer2 {
  left: 124px;
}
.passwordStrength {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.component7,
.groupContainerParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.groupContainerParent {
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.component7 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--grey-dark);
  font-family: var(--text-sm-bold);
}
