.endChild {
  width: 1440px;
  height: 662px;
  position: relative;
  background-color: var(--blue-2);
  display: none;
  max-width: 100%;
}
.hobby {
  color: var(--primary-full);
}
.community {
  color: var(--blue-1);
}
.yourHobbyYourContainer {
  margin: 0;
  height: 54px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  font-family: inherit;
  max-width: 100%;
  z-index: 1;
}
.getStarted {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--text-sm-bold);
  color: var(--grey-white);
  text-align: left;
}
.getStartedFrame,
.getStartedWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.getStartedWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--primary-full);
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.getStartedWrapper:hover {
  background-color: var(--color-plum);
}
.getStartedFrame {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.wrapperGroup77Child {
  height: 100%;
  width: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 8px;
  transform: scale(1.6);
}
.wrapperGroup77 {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callToAction {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.yourHobbyYourCommunityParent {
  width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  max-width: 100%;
}
.quickLinksIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.bodyFrame {
  height: 281px;
  width: 531px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  min-width: 531px;
  max-width: 100%;
}
.eventFrameIcon {
  height: 302px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-width: 415px;
  z-index: 1;
}
.end,
.footerInfo {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.footerInfo {
  width: 1240px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-52xl);
}
.end {
  align-self: stretch;
  background-color: var(--blue-2);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-81xl) var(--padding-xl) var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--base-black);
  font-family: var(--text-sm-bold);
}
@media screen and (max-width: 1050px) {
  .yourHobbyYourContainer {
    font-size: var(--font-size-10xl);
  }
  .quickLinksIcon {
    align-self: stretch;
    width: auto;
  }
  .bodyFrame {
    flex: 1;
  }
  .footerInfo {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .bodyFrame,
  .eventFrameIcon {
    min-width: 100%;
  }
  .footerInfo {
    gap: 71px 35px;
  }
  .end {
    gap: 50px 100px;
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .yourHobbyYourContainer {
    font-size: var(--font-size-3xl);
  }
  .callToAction {
    flex-wrap: wrap;
  }
  .footerInfo {
    gap: 71px 18px;
  }
  .end {
    gap: 25px 100px;
  }
}
