.searchIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-white);
  box-shadow: var(--navbar);
}
.hobbycueLogoIcon {
  height: 60px;
  width: 293.3px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.lockIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--grey-hover);
  border: 1px solid var(--grey-lighter);
  box-sizing: border-box;
  mix-blend-mode: normal;
}
.searchHere {
  position: relative;
  line-height: 16px;
  font-weight: 300;
  white-space: nowrap;
  z-index: 1;
}
.groupsBlackDPFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.icons8Search1,
.peopleGroupIcon {
  position: absolute;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
}
.peopleGroupIcon {
  top: 0;
  left: 0;
  background-color: var(--primary-full);
  width: 100%;
  height: 100%;
}
.icons8Search1 {
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  z-index: 1;
}
.peopleGroupIconParent {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.inputField,
.logoFrame,
.searchbox {
  display: flex;
  align-items: flex-start;
}
.searchbox {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xs);
  position: relative;
  gap: var(--gap-xl);
  z-index: 1;
}
.inputField,
.logoFrame {
  justify-content: flex-start;
}
.logoFrame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.inputField {
  width: 628px;
  flex-direction: row;
  gap: 34.700000000000045px;
  max-width: 100%;
}
.exploreIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.explore {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.hobbySearchBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.icons8ExpandArrow1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.exploreParent,
.footerFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.exploreParent {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.footerFrame {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.hobbiesIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.rememberMeButton {
  height: 19px;
  width: 19px;
  position: relative;
}
.buttonsIcon {
  height: 12px;
  width: 12px;
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: 6px;
  border-radius: var(--br-12xs-4);
  z-index: 1;
}
.hobbies {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
  margin-top: -24px;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hobbies1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.hobbiesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.icons8ExpandArrow11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.groupParent,
.rectangle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupParent {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.rectangle {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.bookmarkBlack24dp1Icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.quickLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.notificationsBlack24dp1Icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.quickLinks1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.product3Icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.quickLinks2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.footerFrame1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
}
.signIn {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  z-index: 1;
}
.footerFrameGroup {
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-13xl) var(--padding-sm);
  position: relative;
  white-space: nowrap;
}
.footerFrameGroup,
.footerFrameParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameWrapper {
  justify-content: flex-start;
  color: var(--primary-full);
}
.footerFrameParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.listingItem,
.mainContent,
.navbar {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.listingItem {
  width: 525px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  font-size: var(--text-sm-bold-size);
  color: var(--base-black);
}
.mainContent,
.navbar {
  flex-direction: row;
}
.navbar {
  flex: 1;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  position: relative;
  gap: var(--gap-71xl);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--grey-dark);
  font-family: var(--text-sm-bold);
}
.mainContent {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  top: 0;
  z-index: 99;
  position: sticky;
}
@media screen and (max-width: 750px) {
  .inputField {
    gap: 34.700000000000045px 17px;
  }
  .navbar {
    gap: 90px 45px;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    gap: 90px 22px;
  }
}
.hobbycueLogoV21 {
  width: 60px;
  position: relative;
  height: 60px;
  object-fit: cover;
}
.searchHere {
  position: relative;
  line-height: 16px;
  font-weight: 300;
}
.groupChild,
.icons8Search1 {
  position: absolute;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
}
.groupChild {
  top: 0;
  left: 0;
  background-color: #8064a2;
  width: 40px;
  height: 40px;
}
.icons8Search1 {
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleParent {
  width: 40px;
  position: relative;
  height: 40px;
}
.searchHereParent {
  width: 364px;
  border-radius: var(--br-5xs);
  background-color: var(--grey-hover);
  border: 1px solid var(--grey-lighter);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.explore {
  position: absolute;
  top: 1px;
  left: 28px;
  font-weight: 500;
}
.layer2Icon {
  position: absolute;
  height: 82.92%;
  width: 82.92%;
  top: 8.33%;
  right: 8.75%;
  bottom: 8.75%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.explore1 {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.explore1,
.icons8ExpandArrow1,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.vectorIcon {
  height: 27.92%;
  width: 47.08%;
  top: 41.25%;
  right: 26.25%;
  bottom: 30.83%;
  left: 26.67%;
  max-width: 100%;
  max-height: 100%;
}
.icons8ExpandArrow1 {
  top: 0;
  left: 83px;
  width: 24px;
  height: 24px;
}
.exploreParent,
.hobbies {
  width: 107px;
  position: relative;
  height: 24px;
}
.hobbies {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.hobbies1 {
  position: relative;
  font-weight: 500;
}
.hobbiesParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.bookmarkBlack24dp1Icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  position: absolute;
  height: 54.17%;
  width: 82.92%;
  top: 8.33%;
  right: 8.33%;
  bottom: 37.5%;
  left: 8.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon4,
.vectorIcon5 {
  height: 20.83%;
  width: 20.83%;
  top: 70.83%;
  right: 51.67%;
  bottom: 8.33%;
  left: 27.5%;
}
.vectorIcon5 {
  right: 18.33%;
  left: 60.83%;
}
.frameChild,
.product3 {
  width: 24px;
  position: relative;
  height: 24px;
}
.frameChild {
  width: 48px;
  border-radius: 50%;
  height: 48px;
  object-fit: cover;
}
.vectorIcon6,
.vectorIcon7 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.87;
}
.vectorIcon7 {
  height: 27.36%;
  width: 46.67%;
  top: 37.42%;
  right: 26.67%;
  bottom: 35.22%;
  left: 26.67%;
}
.arrow {
  width: 24px;
  position: relative;
  height: 31.8px;
}
.groupParent {
  width: 554px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.vectorIcon8 {
  height: 19px;
  width: 39px;
  position: relative;
}
.hobbycueLogoV21Parent,
.vectorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vectorWrapper {
  width: 59px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.hobbycueLogoV21Parent {
  width: 1469px;
  background-color: #fff;
  height: 83px;
  justify-content: flex-start;
  gap: 144.00999450683594px;
  text-align: left;
  font-size: 12px;
  color: var(--grey-dark);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .vectorWrapper {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .searchHereParent {
    display: flex;
  }
  .arrow,
  .explore,
  .explore1,
  .exploreParent,
  .groupParent,
  .hobbies,
  .hobbies1,
  .hobbiesParent,
  .icons8ExpandArrow1,
  .layer2Icon,
  .product3,
  .vectorIcon,
  .vectorIcon3,
  .vectorIcon4,
  .vectorIcon5,
  .vectorIcon6,
  .vectorIcon7 {
    display: none;
  }
  .vectorWrapper {
    display: flex;
  }
  .hobbycueLogoV21Parent {
    min-width: 960px;
    max-width: 1469px;
  }
}
@media screen and (max-width: 420px) {
  .searchHereParent {
    width: 350px;
  }
  .vectorIcon8 {
    display: flex;
  }
  .vectorWrapper {
    width: 65px;
  }
  .hobbycueLogoV21Parent {
    min-width: 420px;
    max-width: 1469px;
  }
}



