.feature1Child {
  height: 818px;
  width: 1440px;
  position: relative;
  background-color: var(--grey-white);
  display: none;
  max-width: 100%;
}
.hobbySearchPanel,
.hobbySearchPanel1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.feature1,
.hobbySearchPanel,
.hobbySearchPanel1,
.hobbySearchPanelParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hobbySearchPanelParent {
  width: 1240px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.feature1 {
  flex: 1;
  background-color: var(--grey-white);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
}
.landingPageSignIn,
.postABlog,
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.postABlog {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -33px;
}
.landingPageSignIn,
.text {
  flex-direction: column;
}
.text {
  align-self: stretch;
  max-width: 100%;
}
.landingPageSignIn {
  width: 100%;
  position: relative;
  background-color: var(--grey-white);
  overflow: hidden;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .hobbySearchPanel,
  .hobbySearchPanel1 {
    flex-wrap: wrap;
  }
  .feature1 {
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .feature1 {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}

