.homeScreenChild {
  height: 678px;
  width: 1440px;
  position: relative;
  background-color: var(--purple-3);
  display: none;
  max-width: 100%;
}
.signIn {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--text-sm-bold);
  color: var(--grey-dark);
  text-align: left;
}
.frameChild {
  height: 2px;
  width: 69px;
  position: relative;
  background-color: var(--primary-full);
  display: none;
}
.signInParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gROUP,
.joinIn {
  align-self: stretch;
  position: relative;
}
.joinIn {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--text-sm-bold);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  color: var(--primary-full);
  text-align: left;
  display: inline-block;
  min-width: 40px;
  padding: 0;
}
.gROUP {
  height: 2px;
  background-color: var(--primary-full);
}
.joinInParent {
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rectangle,
.signinjoinin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.signinjoinin {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.rectangle {
  width: 168px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.fRAMEChild {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--grey-light);
}
.fRAME1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 97px;
}
.orConnectWith {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--text-sm-bold);
  color: var(--base-black);
  text-align: left;
}
.fRAMEItem {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--grey-light);
}
.connectWithSeparator,
.fRAME2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fRAME2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 97px;
}
.connectWithSeparator {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  z-index: 1;
}
.email {
  width: 33px;
  border: 0;
  outline: 0;
  font-family: var(--text-sm-bold);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 16px;
  position: relative;
  line-height: 16px;
  color: var(--grey-dark);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.emailInput,
.inputFields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inputFields {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-lighter);
  overflow: hidden;
  padding: var(--padding-xs);
  z-index: 1;
}
.emailInput {
  align-self: stretch;
  padding: 0 0 var(--padding-9xs);
}
.byContinuingYou {
  color: var(--grey-darker);
}
.termsOfService {
  color: var(--grey-darkest);
}
.and {
  color: var(--grey-darker);
}
.privacyPolicy {
  color: var(--grey-darkest);
}
.span {
  color: var(--grey-darker);
}
.byContinuingYouContainer {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--text-sm-bold);
  text-align: left;
  z-index: 1;
}
.textLabel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.agreeAndContinue {
  position: relative;
  font-size: var(--text-sm-bold-size);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--text-sm-bold);
  color: var(--grey-white);
  text-align: left;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--primary-full);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.buttons:hover {
  background-color: var(--color-plum);
}
.inputFieldContainer {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.fRAME,
.homeScreen,
.iNSTANCE,
.inputFieldContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.iNSTANCE {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.fRAME,
.homeScreen {
  box-sizing: border-box;
}
.fRAME {
  width: 410px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  min-width: 410px;
}
.homeScreen {
  align-self: stretch;
  background-color: var(--purple-3);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-81xl) 0;
  gap: var(--gap-104xl);
  flex-shrink: 0;
  z-index: 2;
}
.feature1Child {
  height: 818px;
  width: 1440px;
  position: relative;
  background-color: var(--grey-white);
  display: none;
  max-width: 100%;
}
.peopleGroup,
.peopleGroup1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.feature1,
.peopleGroup,
.peopleGroup1,
.peopleGroupParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.peopleGroupParent {
  width: 1240px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.feature1 {
  align-self: stretch;
  background-color: var(--grey-white);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  margin-top: -56px;
}
.emailText,
.landingPageJoinIn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.emailText {
  align-self: stretch;
  height: 888px;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.landingPageJoinIn {
  width: 100%;
  position: relative;
  background-color: var(--grey-white);
  overflow: hidden;
  gap: 56px;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .fRAME {
    flex: 1;
  }
  .homeScreen {
    flex-wrap: wrap;
  }
  .emailText {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .peopleGroup,
  .peopleGroup1 {
    flex-wrap: wrap;
  }
  .feature1 {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .fRAME {
    min-width: 100%;
  }
  .homeScreen {
    gap: 123px 61px;
    padding-left: var(--padding-31xl);
    padding-top: var(--padding-46xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .landingPageJoinIn {
    gap: 28px 56px;
  }
}
@media screen and (max-width: 450px) {
  .joinIn,
  .signIn {
    font-size: var(--font-size-base);
  }
  .connectWithSeparator {
    flex-wrap: wrap;
  }
  .homeScreen {
    gap: 123px 31px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .feature1 {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
