.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.areYouA {
  position: absolute;
  top: 174px;
  left: 40px;
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  width: 1160px;
}
.addIcon,
.addYourOwn {
  position: absolute;
  top: 40px;
}
.addYourOwn {
  left: 529px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.addIcon {
  left: 459px;
  width: 54px;
  height: 54px;
  overflow: hidden;
}
.addNew {
  position: absolute;
  top: 12px;
  left: 29px;
  line-height: 16px;
  font-weight: 600;
}
.addNewWrapper {
  position: absolute;
  top: 250px;
  left: 40px;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--primary-full);
  box-sizing: border-box;
  width: 122px;
  height: 40px;
  white-space: nowrap;
  font-size: var(--text-sm-bold-size);
  color: var(--primary-full);
}
.homeScreenChild,
.rectangleParent {
  width: 1240px;
  height: 330px;
  position: relative;
  display: none;
  max-width: 100%;
}
.homeScreenChild {
  height: 678px;
  width: 1440px;
  background-color: var(--purple-3);
}
.signIn {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--text-sm-bold);
  color: var(--grey-dark);
  text-align: left;
}
.frameItem {
  height: 2px;
  width: 69px;
  position: relative;
  background-color: var(--primary-full);
  display: none;
}
.signInParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameInner,
.joinIn {
  align-self: stretch;
  position: relative;
}
.joinIn {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--text-sm-bold);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 30px;
  color: var(--primary-full);
  text-align: left;
  display: inline-block;
  min-width: 40px;
  padding: 0;
}
.frameInner {
  height: 2px;
  background-color: var(--primary-full);
}
.joinInParent {
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.signinjoinin,
.signinjoininWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.signinjoinin {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.signinjoininWrapper {
  width: 168px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frameGroupBanner {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--grey-light);
}
.frameforHobbiesYourCommunit {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 97px;
}
.orConnectWith {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--text-sm-bold);
  color: var(--base-black);
  text-align: left;
}
.frameforHobbiesYourCommunitChild {
  align-self: stretch;
  height: 2px;
  position: relative;
  background-color: var(--grey-light);
}
.connectWithSeparator,
.frameforHobbiesYourCommunit1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameforHobbiesYourCommunit1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  min-width: 97px;
}
.connectWithSeparator {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xs);
  z-index: 1;
}
.email {
  width: 33px;
  border: 0;
  outline: 0;
  font-family: var(--text-sm-bold);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 16px;
  position: relative;
  line-height: 16px;
  color: var(--grey-dark);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.byline,
.inputFields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.inputFields {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-lighter);
  overflow: hidden;
  padding: var(--padding-xs);
  z-index: 1;
}
.byline {
  align-self: stretch;
  padding: 0 0 var(--padding-9xs);
}
.byContinuingYou {
  color: var(--grey-darker);
}
.termsOfService {
  color: var(--grey-darkest);
}
.and {
  color: var(--grey-darker);
}
.privacyPolicy {
  color: var(--grey-darkest);
}
.span {
  color: var(--grey-darker);
}
.byContinuingYouContainer {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--text-sm-bold);
  text-align: left;
  z-index: 1;
}
.locationTag {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.agreeAndContinue {
  position: relative;
  font-size: var(--text-sm-bold-size);
  line-height: 16px;
  font-weight: 600;
  font-family: var(--text-sm-bold);
  color: var(--grey-white);
  text-align: left;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--primary-full);
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.buttons:hover {
  background-color: var(--color-plum);
}
.rectangleGroup {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frameParent,
.homeScreen,
.homeScreenInner,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xl);
}
.homeScreen,
.homeScreenInner {
  box-sizing: border-box;
}
.homeScreenInner {
  width: 410px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 410px;
}
.homeScreen {
  align-self: stretch;
  background-color: var(--purple-3);
  flex-direction: row;
  padding: var(--padding-81xl) var(--padding-81xl) 0;
  gap: var(--gap-104xl);
}
.peopleCommunity {
  position: relative;
  font-size: var(--text-sm-bold-size);
  letter-spacing: 0.01em;
  line-height: 18px;
  font-family: var(--text-sm-bold);
  color: var(--grey-darker);
  text-align: left;
}
.frameYourHobbyYourCommunit {
  flex: 0.9;
  background-color: var(--grey-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xs);
  white-space: nowrap;
}
.frameContainer {
  height: 1px;
  flex: 1;
  position: relative;
  background-color: var(--grey-light);
  z-index: 1;
  margin-left: -220px;
}
.textFrameSmallText {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.placesVenues {
  position: relative;
  font-size: var(--text-sm-bold-size);
  letter-spacing: 0.01em;
  line-height: 18px;
  font-family: var(--text-sm-bold);
  color: var(--grey-darker);
  text-align: left;
}
.placesVenuesWrapper {
  align-self: stretch;
  background-color: var(--grey-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xs);
  white-space: nowrap;
}
.textFrameSmallTextChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--grey-light);
  z-index: 1;
  margin-top: -1px;
}
.textFrameSmallText1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.programsEvents {
  position: relative;
  font-size: var(--text-sm-bold-size);
  letter-spacing: 0.01em;
  line-height: 18px;
  font-family: var(--text-sm-bold);
  color: var(--grey-darker);
  text-align: left;
}
.programsEventsWrapper {
  align-self: stretch;
  background-color: var(--grey-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xs);
  white-space: nowrap;
}
.textFrameSmallTextItem {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--grey-light);
  z-index: 1;
  margin-top: -1px;
}
.textFrameSmallText2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.productsStore {
  position: relative;
  font-size: var(--text-sm-bold-size);
  letter-spacing: 0.01em;
  line-height: 18px;
  font-family: var(--text-sm-bold);
  color: var(--grey-darker);
  text-align: left;
}
.productsStoreWrapper {
  align-self: stretch;
  background-color: var(--grey-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xs);
  white-space: nowrap;
}
.textFrameSmallTextInner {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--grey-light);
  z-index: 1;
  margin-top: -1px;
}
.textFrameSmallText3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.blogs {
  position: relative;
  font-size: var(--text-sm-bold-size);
  letter-spacing: 0.01em;
  line-height: 18px;
  font-family: var(--text-sm-bold);
  color: var(--grey-darker);
  text-align: left;
}
.exploreList,
.textFrameSmallText4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textFrameSmallText4 {
  align-self: stretch;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--grey-white);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs);
}
.exploreList {
  width: 220px;
  box-shadow: var(--dropdown);
  flex-direction: column;
  z-index: 3;
}
.filterLabel,
.rectangle {
  display: flex;
  max-width: 100%;
}
.filterLabel {
  width: 1024px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  margin-top: -678px;
}
.rectangle {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 678px;
  flex-shrink: 0;
}
.textChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.feature1Child {
  height: 818px;
  width: 1440px;
  position: relative;
  background-color: var(--grey-white);
  display: none;
  max-width: 100%;
}
.frameDiv,
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.feature1,
.frameDiv,
.frameFooter,
.frameGroup,
.frameParent1,
.text {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 1240px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.feature1,
.frameFooter,
.text {
  align-self: stretch;
}
.feature1 {
  background-color: var(--grey-white);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.frameFooter,
.text {
  flex-direction: column;
  justify-content: flex-start;
}
.text {
  height: 956px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
.frameFooter {
  flex-shrink: 0;
}
.rectangleDiv {
  width: 1240px;
  height: 284px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.addIcon1,
.addYourOwn1 {
  position: relative;
  z-index: 1;
}
.addIcon1 {
  height: 40px;
  width: 40px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 40px;
}
.addYourOwn1 {
  margin: 0;
  align-self: stretch;
  height: 36px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.addParent,
.addYourOwnWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.addYourOwnWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.addParent {
  width: 232px;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.addNew1,
.areYouA1 {
  align-self: stretch;
  position: relative;
}
.areYouA1 {
  height: 60px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.addNew1 {
  flex: 1;
  line-height: 16px;
  font-weight: 600;
}
.addNewContainer,
.rectangleContainer,
.testimonials {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.addNewContainer {
  width: 122px;
  height: 40px;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--primary-full);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-9xl) var(--padding-xs)
    var(--padding-10xl);
  white-space: nowrap;
  z-index: 1;
  font-size: var(--text-sm-bold-size);
  color: var(--primary-full);
}
.rectangleContainer,
.testimonials {
  max-width: 100%;
}
.rectangleContainer {
  width: 1240px;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-20xl);
  gap: var(--gap-13xl);
}
.testimonials {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-2);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
  z-index: 2;
}
.frameChild1 {
  width: 1240px;
  height: 472px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--purple-3);
  display: none;
  max-width: 100%;
}
.quoteIcon,
.testimonials2 {
  position: relative;
  z-index: 1;
}
.quoteIcon {
  height: 40px;
  width: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 40px;
}
.testimonials2 {
  margin: 0;
  align-self: stretch;
  height: 36px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.quoteParent,
.testimonialsWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonialsWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.quoteParent {
  width: 221px;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.inAFast {
  height: 180px;
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.inAFastGrowingAndEverChaWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--grey-darker);
}
.audioTrackChild,
.ellipseShape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.audioTrackChild {
  border-radius: var(--br-5xs);
  background-color: var(--purple-2);
  display: none;
}
.ellipseShape {
  border-radius: 50%;
  background-color: var(--grey-white);
  z-index: 1;
}
.playArrowBlack24dp1Icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 2;
}
.ellipseShapeParent {
  position: absolute;
  top: 30px;
  left: 32px;
  width: 40px;
  height: 40px;
}
.audioTrackInner,
.audioTrackItem {
  position: absolute;
  border-radius: 50%;
}
.audioTrackItem {
  top: 44px;
  left: 112px;
  background-color: var(--primary-full);
  width: 12px;
  height: 12px;
  z-index: 2;
}
.audioTrackInner {
  top: 19px;
  left: 684px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  z-index: 1;
}
.micBlack24dp1Icon {
  position: absolute;
  top: 47px;
  left: 672px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  z-index: 2;
}
.frameChild2 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--grey-white);
  z-index: 1;
}
.rectangleWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 304px;
  max-width: 100%;
}
.div {
  height: 16px;
  width: 26px;
  position: relative;
  line-height: 16px;
  display: inline-block;
  z-index: 1;
}
.frameParent3 {
  position: absolute;
  top: 42px;
  left: 118px;
  width: 506px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.audioTrack,
.ellipseIcon {
  height: 100px;
  position: relative;
  z-index: 1;
}
.audioTrack {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--purple-2);
  min-width: 504px;
  max-width: 100%;
}
.ellipseIcon {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.classicalDancer,
.shubhaNagarajan {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  z-index: 1;
}
.shubhaNagarajan {
  align-self: stretch;
  height: 27px;
  font-weight: 600;
}
.classicalDancer {
  width: 123px;
  flex: 1;
  font-size: var(--text-sm-bold-size);
  color: var(--blue-1);
}
.shubhaNagarajanParent {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.ellipseParent,
.frameWrapper,
.shubhaNagarajanParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  height: 76px;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
}
.ellipseParent {
  width: 304px;
  flex-direction: row;
  gap: var(--gap-5xl);
  min-width: 304px;
  font-size: var(--font-size-lg);
}
.containerFrame,
.groupDiv,
.testimonials1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.containerFrame {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  font-size: var(--font-size-xs);
  color: var(--primary-full);
}
.groupDiv,
.testimonials1 {
  box-sizing: border-box;
}
.groupDiv {
  width: 1240px;
  border-radius: var(--br-5xs);
  background-color: var(--purple-3);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl);
  gap: var(--gap-13xl);
}
.testimonials1 {
  position: absolute;
  top: 481px;
  left: 0;
  background-color: var(--grey-white);
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
  z-index: 3;
}
.testimonialsParent {
  align-self: stretch;
  height: 1153px;
  position: relative;
  max-width: 100%;
}
.endChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue-2);
  width: 100%;
  height: 100%;
  display: none;
}
.hobbyCommunityIcon {
  position: absolute;
  top: 330px;
  left: 702px;
  width: 638px;
  height: 302px;
  overflow: hidden;
  z-index: 1;
}
.hobby {
  color: var(--primary-full);
}
.community {
  color: var(--blue-1);
}
.yourHobbyYourContainer {
  margin: 0;
  align-self: stretch;
  height: 54px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}
.frameChild3 {
  height: 46px;
  width: 147px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--primary-full);
  display: none;
}
.getStarted {
  margin: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.rectangleParent1,
.yourHobbyFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent1 {
  width: 147px;
  height: 46px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-full);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--grey-white);
}
.yourHobbyFrame {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.footerFrameIcon {
  width: 531px;
  height: 280px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.yourHobbyFrameParent {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 565px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 121px;
  max-width: 100%;
}
.endItem {
  position: absolute;
  top: 183px;
  left: 1300px;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.end {
  align-self: stretch;
  height: 662px;
  position: relative;
  background-color: var(--blue-2);
  max-width: 100%;
  font-size: var(--font-size-17xl);
  color: var(--base-black);
}
.frameParent2,
.landingPageExploreList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  align-self: stretch;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.landingPageExploreList {
  width: 100%;
  height: 1036px;
  position: relative;
  background-color: var(--grey-white);
  overflow: hidden;
  gap: 540px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-darkest);
  font-family: var(--text-sm-bold);
}
@media screen and (max-width: 1125px) {
  .homeScreenInner {
    flex: 1;
  }
  .homeScreen {
    flex-wrap: wrap;
  }
  .text {
    height: auto;
  }
  .ellipseParent {
    flex: 1;
  }
  .containerFrame {
    flex-wrap: wrap;
    gap: 80px 40px;
  }
  .testimonialsParent {
    height: auto;
    min-height: 1153;
  }
  .landingPageExploreList {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .addYourOwn {
    font-size: var(--font-size-10xl);
  }
  .frameDiv,
  .frameParent1 {
    flex-wrap: wrap;
  }
  .feature1 {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .yourHobbyYourContainer {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 750px) {
  .homeScreenInner {
    min-width: 100%;
  }
  .homeScreen {
    gap: 123px 61px;
    padding-left: var(--padding-31xl);
    padding-top: var(--padding-46xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .rectangleContainer {
    gap: 16px 32px;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
  .audioTrack {
    height: auto;
    min-height: 100;
    min-width: 100%;
  }
  .containerFrame {
    gap: 80px 20px;
  }
  .groupDiv {
    gap: 16px 32px;
  }
  .landingPageExploreList {
    gap: 270px 540px;
  }
}
@media screen and (max-width: 450px) {
  .addYourOwn {
    font-size: var(--font-size-3xl);
  }
  .joinIn,
  .signIn {
    font-size: var(--font-size-base);
  }
  .connectWithSeparator {
    flex-wrap: wrap;
  }
  .homeScreen {
    gap: 123px 31px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .feature1 {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .addYourOwn1,
  .testimonials2 {
    font-size: var(--font-size-lgi);
  }
  .yourHobbyYourContainer {
    font-size: var(--font-size-3xl);
  }
  .landingPageExploreList {
    gap: 135px 540px;
  }
}
