.navbarChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--grey-white);
  box-shadow: var(--navbar);
  width: 1440px;
  height: 80px;
}
.hobbycueLogoV21 {
  position: absolute;
  top: 10px;
  left: 97px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--grey-hover);
  border: 1px solid var(--grey-lighter);
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  mix-blend-mode: normal;
}
.searchHere {
  position: absolute;
  top: 12px;
  left: 12px;
  line-height: 16px;
  font-weight: 300;
}
.groupItem,
.icons8Search1 {
  position: absolute;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
}
.groupItem {
  top: 0;
  left: 0;
  background-color: var(--primary-full);
  width: 40px;
  height: 40px;
}
.icons8Search1 {
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 260px;
  width: 40px;
  height: 40px;
}
.rectangleParent {
  top: 20px;
  left: 181px;
  width: 300px;
}
.explore {
  position: absolute;
  top: 1px;
  left: 28px;
  font-weight: 500;
}
.exploreIcon,
.icons8ExpandArrow1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icons8ExpandArrow1 {
  left: 83px;
}
.exploreParent {
  position: absolute;
  top: 12px;
  left: 0;
  width: 107px;
  height: 24px;
}
.hobbies {
  position: absolute;
  top: 2px;
  left: 28px;
  font-weight: 500;
}
.hobbiesIcon,
.icons8ExpandArrow11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icons8ExpandArrow11 {
  left: 90px;
}
.hobbiesParent {
  position: absolute;
  top: 12px;
  left: 131px;
  width: 114px;
  height: 24px;
}
.bookmarkBlack24dp1Icon,
.notificationsBlack24dp1Icon,
.product3Icon {
  position: absolute;
  top: 12px;
  left: 269px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.notificationsBlack24dp1Icon,
.product3Icon {
  left: 317px;
}
.product3Icon {
  left: 365px;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 413px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.arrowIcon {
  position: absolute;
  height: 53.13%;
  width: 4.91%;
  top: 28.75%;
  right: 0;
  bottom: 18.12%;
  left: 95.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent {
  position: absolute;
  top: 16px;
  left: 851px;
  width: 489px;
  height: 48px;
  font-size: var(--text-sm-bold-size);
  color: var(--base-black);
}
.navbar {
  margin: 0;
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    rgba(0, 0, 0, 0.2);
  height: 85px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--grey-dark);
  font-family: var(--text-sm-bold);
}
@media screen and (max-width: 1200px) {
  .navbar {
    width: 1000px;
  }
}
@media screen and (max-width: 960px) {
  .navbar {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .navbar {
    width: 150px;
  }
}
